{#{% extends 'template.html.twig' %}#}



{% block title %}{% endblock %}
{% block pageTitle %}{% endblock %}

{% block body %}
    <h1>Create new Tache</h1>

    {{ include('tache/_form.html.twig') }}

    {% block flash_messages %}
        {% for flashMessage in app.flashes('error') %}
            <div class="alert alert-danger" role="alert">
                {{ flashMessage }}
            </div>
        {% endfor %}
    {% endblock %}
{% endblock %}
