{% extends 'template.html.twig' %}

{% block title %}Edit Projet{% endblock %}
{% block pageTitle %} {% endblock %}

{% block body %}
    <h1>Edit Projet</h1>

    {{ include('projet/admin/admin_form_update.html.twig', {'button_label': 'Update'}) }}





{% endblock %}
