{#{% extends 'template.html.twig' %}#}

{% block title %}{% endblock %}
{% block pageTitle %}
  {% endblock %}
{% block body %}

    {{ include('user/_form.html.twig') }}

{#    <a href="{{ path('app_dashboard') }}">back to dashboard</a>#}
{% endblock %}
